<!DOCTYPE html>
<html>
  <head>
    <title>techHunt</title>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      canvas {
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://threejs.org/build/three.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <h1>'{{ url_for('static', filename='img/earth-texture-2k.jpg') }}'</h1>
  </body>
</html>
